@font-face {
	font-family: Pixel;
	src: url('../src/fonts/Thintel.ttf');
}

body {	margin:0px;	overflow: hidden; }
	*{ opacity: 1; }
	.hidden {	opacity:0;	}

.loading_screen {
	transition:1s;
	position:fixed; top:0px; left:0px;
	pointer-events: none;
	height:100%; width:100%;
	display:flex; 	z-index: 200; justify-content: center; align-items:center;
	background-color:rgba(0,30,0,0.8);
	background-image: url('../img/logos/menucells.png');
	background-size:cover; background-position: center center;
	backdrop-filter:blur(25px);
	-webkit-backdrop-filter:blur(8px);
}
.loading_screen.hidden {	opacity:0;	}
	.ls_logo {
		width:50%;
	}
	.LS_CONTENT {
		color:#fff;	width:100%; font-family: Tahoma;
	}
	.LS_TEXT { 
		position:absolute; bottom:0px; left:0px;
		width:80%; text-align: left; padding:0px 20px 20px 20px;
	}
	.LS_TEXT .LS_title {
		font-weight:bold; font-size:0.5cm;
	}
	.LS_TEXT .LS_desc {
		font-size:0.3cm;
	}

#main_babylon_canvas {
	width:100%;
	height:100%;
	position: relative;
	z-index: 10;
}

.MAIN_HUD { /* display:none; */
	transition:0.3s; opacity:1;
	position:fixed; z-index: 10;
	top:10px;
	left:10px;
	border-radius: 10px;
	font-family:Century Gothic;
	background-color:rgba(255,255,255,0.4);
	backdrop-filter:blur(8px);
	-webkit-backdrop-filter:blur(8px);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.MAIN_HUD table {
	border-collapse: collapse;
	width:100%;
}
.MAIN_HUD table td {
	padding:5px;
}
.MAIN_HUD table td:first-child {	width:128px; vertical-align: middle;	}
.MAIN_HUD img {		width:100px;	}

.MAIN_INTERFACE {
	width:100%; position:absolute; top:0px; left:0px; 
}
	.MI_Crosshair {	position:absolute; top:49%; left:50%; z-index: 100; pointer-events: none;	}
	.MI_Crosshair div {	
		position:absolute; top:-16px; left:-16px;
		background-image:url('../img/effects/crosshair.png');
		background-size:200% 100%;
		width:32px; height:32px;
	}
	.MI_TargetTitle {	position:absolute; top:60%; width:100%; left:0%; z-index: 100; text-align: center; align-content: center;	}
	.MI_TargetTitle div {	
		display:inline-block;
		color:#fff; font-weight: bold; text-shadow:1px 1px 1px rgba(0,0,0,0.8);
		font-size:12px;
		text-align: center;
		font-family: Tahoma;
	}
	.MI_Subtitles {	position:absolute; top:75%; width:100%; left:0%; z-index: 100; text-align: center; align-content: center;	}
	.MI_Subtitles div {	
		display:inline-block;
		color:#fff; font-weight: bold; text-shadow:1px 1px 1px rgba(0,0,0,0.8);
		font-size:14px;
		text-align: center;
		font-family: Tahoma;
	}
	.MI_Subtitles span { background-color:rgba(0,0,0,0.4); padding:10px; border-radius:5px;  }
	.MI_Subtitles span sam { color:#eda74a;  }

	.MI_Colection {
		position:absolute; top:20px; right:20px;
		z-index: 100;
	}
	.MI_C_Icon {
		transition:0.3s;
		cursor:pointer; display:inline-block; 
		width:50px; height:50px;
		background-size:cover; background-position: center center;
		border-radius: 8px;	border:2px solid transparent;
		background-color:rgba(255,255,255,0.4);
		backdrop-filter:blur(8px);
		-webkit-backdrop-filter:blur(8px);
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
		.MI_C_Icon:hover {	
			border:2px solid #eda74a;
			transform:scale(1.1);
		}
	.backpack {	background-image:url('../img/effects/backpack256.png');	}


#game_window_scale {
	width:100vw; height:100%;
	position:absolute; top:0px; left:0px;
}
.TABLE_SEPARATOR {
	border-collapse: collapse;
	width:100%; height:100%;
}
.TABLE_SEPARATOR .TOP_GAME_WINDOW {
	position:relative;
	height:100vh;
}
.TABLE_SEPARATOR .MOBILE_CONTROLS {
	position:relative;
	display:none;
}