* {
    position: relative;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Simple', sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
header {
    background-color: rgba(45, 45, 45, 0.8);
    color:#fff;
}
footer {
    padding: 20px;
    background-color: rgba(25,25,25,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
}
content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    min-height: 100vh;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    display: block;
}
a {
    color:rgb(255, 177, 51);
    font-weight: bold;
    transition: 0.3s;
}
a:hover {
    color:#fff;
    text-shadow: 0px 1px 1px #37f, 1px 1px 1px #37f, 1px 0px 1px #37f, -1px 0px 1px #37f, -1px -1px 1px #37f, 0px -1px 1px #37f;
}

/* ******** TV.JS loading ******** */
.loading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading::after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border-left: 4px solid #37f;
    border-right: 4px solid #37f;
    box-shadow: 0 0 16px rgb(57, 202, 255);
    backdrop-filter: blur(10px);

    animation: loading 2s linear infinite;
}

@keyframes loading {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
}


/* ******** START Fonts ******** */
@font-face {
    font-family: "Title";
    src: url(/src/fonts/Aguarita.ttf);
}
@font-face {
    font-family: "Code";
    src: url(/src/fonts/Code-Regular.ttf);
}
@font-face {
    font-family: "Text";
    src: url(/src/fonts/Simple.ttf);
}

.title { font-family: "Title"; }
.text { font-family: "Text"; }
.code { font-family: "Code"; }

.large  { font-size: 32px; }
.big    { font-size: 24px; }
.med    { font-size: 16px; }
.small  { font-size: 14px; }
.tiny   { font-size: 12px; }
.atom   { font-size: 10px; }

.txtcolumn { text-align: justify; }

.c-fff { color:#fff; }

/* ******** End Fonts ******** */


/* ******** Start FLEX PRESET ******** */
.flx {
    display: flex;
}
.flx.col {
    flex-direction: column;
}
.flx.row {
    flex-direction: row;
}
.btwn {
    justify-content: space-between;
}
.ycenter {
    align-items: center;
}
.yend {
    align-items: end;
}
.ystart {
    align-items: start;
}
.xcenter {
    justify-content: center;
}
/* ******** End FLEX PRESET ******** */


/* ******** Start Components, MARGINS and PADDINGS ******** */
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.main-box {
    padding:20px;
    margin: 20px;
    background-color: rgba(0,0,0,0.4);
}
.tiny-box {
    padding: 10px;
}
.loading-local {
    position: absolute;
    width:100%;
    height:100%;
}
.photo {
    width: 65px; height:65px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    border: 1px solid #37f;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
}
.photo:hover {
    transform: scale(2) rotateZ(-5deg);
    border-radius: 4px;
    height:80px;
    margin-bottom:-5px;
    z-index:20;
    box-shadow: 0 0 15px #000;
}
.photo:hover::after{
    content: ''attr(title)'';
    display: block;
    font-size: 8px;
    color:#fff;
    text-shadow: 1px 1px 0 #000;
    position: absolute;
    bottom: 0px;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    padding:2px;
    animation: appearing linear 0.3s;
    width:100%;
}
.photo.ptop {
    background-position: center -10px;
}
.glowing {
    animation: photoglow linear 2s infinite alternate;
}

.blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
@media (max-width:767px) {
    .blog-grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }
}
.blog-item {
    background-color: rgba(255,255,255,0.1);
    margin: 20px 0px;
}
.blog-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-img img {
    position:absolute;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    min-width: 100%;
}
.blog-text {
    padding: 50px;
}
/* ******** End Components, MARGINS and PADDINGS ******** */


.accent {
    color:#37f;
}
.head-title {
    padding: 20px 10px 20px;
    background-color: rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor:pointer;
}
.head-title .smile {
    margin-right: 8px;
    font-size: 30px;
    color:#37f;
}
.app-menu .menu-tab {
    display:block;
    font-family: "Title";
    color:#aaa;
    text-decoration: none;
    padding: 20px;
    border-right: 4px solid transparent;
    margin-right: -4px;
    margin-left: -10px;
    padding-left: 70px;
    transition: 0.3s;
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
}
.menu-tab:hover {
    color:#fff;
    border-right: 4px solid #fff;
    transform: translateX(10px);
    background-color: rgba(88, 196, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: none;
}
.menu-tab.selected {
    color:#37f;
    background-color: rgba(255,255,255,0.1);
    border-right: 4px solid #37f;
    backdrop-filter: none;
}
.menu-tab.selected:hover {
    transform: none;
}


.bg-wave {
    position: relative;
    overflow: hidden;
}
.bg-wave::before {
    content: '';
    display: block;
    position:relative;
    top: -50%;
    left: -50%;
    background-image: linear-gradient(180deg, #0c0c0c , rgb(68, 123, 147));
    background-size: 100% 100%;
    width:200%;
    height:200%;
    min-height: 200vw;
    min-width: 200vh;
    aspect-ratio: 1/1;
    animation: bgspin linear 10s infinite alternate;
}
.bg-super {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

@keyframes bgspin {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes appearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes photoglow {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    100% {
        box-shadow: 0 0 20px #37f;
    } 
}


/* ****** Extra ****** */
.hidden { display: none; }