/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

/** Variables */
:root {
    --main-theme-color: rgb(39, 130, 166);
    --bg-color: #222;
    --bg-secondary: #111;
    --bg-highlight: #333;
    --text-main: #fff;

    --title-font-family: 'Montserrat', 'Tahoma', sans-serif;

    --assessment-color-verybad: #900;
    --assessment-color-bad: rgb(218, 26, 26);
    --assessment-color-medium: rgb(247, 153, 51);
    --assessment-color-better: rgb(238, 227, 26);
    --assessment-color-good: rgb(56, 244, 23);

    --extra-info-bg: #ff0;
}

/* App styles */
h1,
h2 {
    font-family: var(--title-font-family);
    font-weight: 700;
    font-size:20px;
    min-height: 20px;
    color: var(--text-main);
}
button {
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 5px;
    outline: none;
    border: none;
    background-color: var(--main-theme-color);
    color: var(--text-main);
    font-weight:bold;
    border-radius: 999rem;
    font-family: 'monospace', sans-serif;
}
button:hover {
    background-color: rgb(102, 163, 224);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
button[disabled] { background-color:#444; }
input {
    padding: 8px 0px;
    font-size: 16px;
    width: 100%;
    border-radius: 0;
    border: 1px solid rgba(180,180,180,0.3);
    margin:0 0 10px;
    border-radius: 4px;
}
input:focus {
    border:1px solid var(--main-theme-color);
    outline:none;
    background-color: #fff;
    color:#009;
    box-shadow: 0 0 25px rgba(0,0,0,0.9);
}
select {
    padding: 0.5rem 0rem 0.5rem 0.2rem;
    cursor: pointer;
    border-radius: 999rem;
    border: none;
    outline: none;
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--title-font-family);
}
select:focus {
    outline: none;
    border: 1px solid transparent;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Tahoma, sans-serif;
    background-color: var(--bg-secondary);
    overflow: hidden;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

site-top-additionals {
    position: fixed;
    top: 0;
    right: 0;
}

site-main-page {
    display: block;
    width: 70%;
    min-height: 134px;
}

words-list {
    min-height: 150px;
    max-height: 60%;
}

/* * * MENU * * */
site-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#222;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    min-height: 100vh;
    width: 100%;
    min-width: 180px;
}
site-menu ul {
    padding: 0 1rem;
    margin: 2rem 0;
    display: flex;
    gap: 0.1rem;
    flex-direction: column;
}
.menu-tab {
    font-family: var(--title-font-family);
    font-size: 0.7rem;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 999rem;
}
.menu-tab:hover { background-color: var(--bg-highlight); }
.menu-tab.selected {
    font-weight: bold;
    background-color: var(--bg-secondary);
}
site-datacontroll,
.progress_table { width: 70%; }
.progress_table td button { width: 100%; }
.progress_table tr { color: var(--text-main); }
.progress_table tr:nth-child(1) { background-color: var(--bg-highlight); }
.progress_table {
    border-collapse: collapse;
    border: 1px solid transparent;
    width: 100%;
}
.progress_table td {
    padding:4px;
    border: 1px solid transparent;
    vertical-align: top;
}
.progress_table input { color: var(--text-main); }
.logo-title {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem; padding: 0 0.5rem;
    font-family: var(--title-font-family);
}
.logo-title h2 { font-size: 1rem; }
.logo-title a { text-decoration: none; color:var(--text-main); transition: 0.3s; }
    .logo-title a:hover { color: var(--main-theme-color); }
.logo-title code { font-size: 0.5rem; color: var(--text-main); white-space: nowrap; }
.round-btn-flow { 
    aspect-ratio: 1/1; position: absolute;
    display: flex; align-items: center; justify-content: center;
    width: 40px; right: 0;
}
.button-dropdown { padding: 0; background-color: transparent; min-width: 400px; }
.button-dropdown .icon { 
    margin-left: 0.5rem; transition: 0.3s; font-size: 1rem; width: 20px; aspect-ratio: 1/1; transform: rotate(270deg); 
}
.button-dropdown.opened .icon { transform: rotate(90deg); }
.button-dropdown:hover { background-color: transparent; }
@media (max-width:767px) {
    site-menu ul { padding: 12px 0px; }
    .menu-tab { padding: 17.5px 6px; }
    .menu-tab .text { display:none; }
    .menu-tab .icon { color: #fff; }
    .menu-tab.selected .text {
        display:inline-block;
        font-size:10px;
    }
    h1,h2 { font-size: 1rem; }
    .mobile-hide { display: none; }
    .button-dropdown { min-width: 270px; }
}

/* * * CONTENT * * */
.page,
page {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    min-height: 100vh;
    position: relative;
}

site-footer {
    min-height: 60px;
    background-color:#eee;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    font-size: 12px;
    color:#999;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font-family);
}

.filter-date {
    display:flex; align-items:center; gap:4px; border-radius:999rem;
}
.filter-date select { padding: 0.5rem 0.5rem 0.5rem 2.5rem; }
.filter-date span {
    margin-right: -2.4rem; position: relative; z-index: 1;
    margin-left: 1rem;
    pointer-events: none;
}

.abstract_input_field {
    position:relative;
    margin-bottom: 10px;
}
.abstract_input_field input {
    font-family: var(--title-font-family);
    border: none;
    transition: 0.3s;
    background-color: var(--bg-color);
    position: relative;
    border-radius: 999px;
    padding: 1rem;
    margin: 1rem -1rem;
    box-shadow: 0 0 110px var(--main-theme-color);
    color: #fff;
}
.abstract_input_field input:focus { box-shadow: 0 0 20px var(--main-theme-color); }


.top_additionals_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-right: 10px;
    margin-left: -40px;
    transition: 0.3s;
    padding: 5px;
    font-size:10px;
    color:#666;
    cursor: pointer;
}
.top_additionals_block:hover {
    color:#000;
    border-radius: 8px;
    background-color:#fff;
    transform: scale(1.4) translate(-30px, 10px);
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}
.top_additionals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.top_additionals .my-status-title { font-family: var(--title-font-family); text-transform: capitalize; }
.t-a_row {
    display: flex;
    flex-direction:row;
    gap:5px;
    align-items:center;
    font-size:8px; 
}
.t-a_row:first-child {
    font-weight: bold;
    text-transform: uppercase;
    font-size:10px; 
}
.row-icon {
    font-size: 30px;
}
.level-indicator {
    position: relative;
    width: 100%;
    height:3px;
    margin: 2px 0px 4px;
    background-color:#444;
    border-radius: 3px;
}
.level-indicator > div {
    position: absolute;
    top:0px; left:0px;
    height:100%;
    background-color: rgb(48, 213, 89);
}


/*  Assessment block  */
site-assessment {
    display: block;
    width: 70%;
    position: relative;
}
.assessment-block {
    display: flex;
    flex-direction: column;
    width: 100%; position: relative;
}
.assessment-block input {
    font-family: var(--title-font-family);
    border: none;
    transition: 0.3s;
    background-color: var(--bg-color);
    position: relative;
    border-radius: 999px;
    padding: 1rem;
    margin: 1rem -1rem;
    box-shadow: 0 0 110px var(--main-theme-color);
    color: #fff;
}
.assessment-block input:focus { box-shadow: 0 0 20px var(--main-theme-color); }
.assessment-level-4 .assessment-block input { box-shadow: 0 0 110px var(--assessment-color-better); }
    .assessment-level-4 .assessment-block input:focus { box-shadow: 0 0 20px var(--assessment-color-better); }
.assessment-level-3 .assessment-block input { box-shadow: 0 0 110px var(--assessment-color-medium); }
    .assessment-level-3 .assessment-block input:focus { box-shadow: 0 0 20px var(--assessment-color-medium); }
.assessment-level-2 .assessment-block input { box-shadow: 0 0 110px var(--assessment-color-bad); }
    .assessment-level-2 .assessment-block input:focus { box-shadow: 0 0 20px var(--assessment-color-bad); }
.suggested-translation {
    padding: 0.5rem 1.5rem 0.5rem 1rem; font-weight:bold; font-size: 18px; 
    background-color: var(--extra-info-bg); 
    position: relative; z-index:5;
    border-radius: 999rem; display: flex; align-items: center;
}
.suggested-translation::after {
    content: ''; display: block; border-radius: 100%; border: 6px solid var(--bg-color);
    position:absolute; right: 10px; width: 12px; aspect-ratio: 1/1; 
}
.suggested-translation.level_1::after { background-color: var(--assessment-color-verybad); }
.suggested-translation.level_2::after { background-color: var(--assessment-color-bad); }
.suggested-translation.level_3::after { background-color: var(--assessment-color-better); }
.suggested-translation.level_4::after { background-color: var(--assessment-color-good); }

.evaluation_block {
    display: flex; 
    flex-direction:row; 
    justify-content: space-between;
    align-items: center;
}
.check_words_row_anchor {
    position: relative;
    width: 100%;
}
.check_words_row {
    display: flex; 
    flex-direction:row;
    flex-wrap: wrap;
    column-gap: 8px;
    padding: 10px 16px;
    margin: 0 -16px;
    border-radius: 999rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}
.text-outline {
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5), 1px 0px 1px rgba(0,0,0,0.5), -1px 0px 1px rgba(0,0,0,0.5), -1px -1px 1px rgba(0,0,0,0.5), 0px -1px 1px rgba(0,0,0,0.5);
}
.check_word {
    padding: 10px 0;
    font-weight:bold;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
}
.punct {
    margin-left: -0.4rem;
    color: #888;
}
.punct[punct="-"],
.punct[punct="'"] {
    margin-right: -0.4rem;
}
.score_0 {
    color:rgb(254, 38, 38);
}
.score_1 {
    color:rgb(255, 153, 0);
}
.score_2 {
    color:rgb(119, 255, 0);
}
.evaluation {
    color:#fff;
    font-weight: bold;
    padding: 20px;
    background-color:rgba(0,0,0,0.7);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(130%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    font-family: var(--title-font-family);
}
.evaluation.eval_score_0 {
    background-color:rgba(100,0,0,0.7);
    color:#f00;
}
.evaluation.eval_score_1 {
    background-color:rgba(170,50,0,0.7);
    color:#f50;
}
.evaluation.eval_score_2 {
    background-color:rgba(170, 167, 0, 0.7);
    color:rgb(255, 231, 12);
}
.evaluation.eval_score_3 {
    background-color:rgba(112, 126, 19, 0.7);
    color:rgb(195, 228, 45);
}
.evaluation.eval_score_4 {
    background-color:rgba(0, 104, 17, 0.7);
    color:rgb(0, 255, 42);
}
.evaluation .digit {
    margin-right:8px; 
    font-size:20px;
}
page:has(.eval_score_0) {
    background-image: radial-gradient(
        ellipse at top center,
        var(--assessment-color-verybad) -100%,
        transparent 70%
    );
}
page:has(.eval_score_1) {
    background-image: radial-gradient(
        ellipse at top center,
        var(--assessment-color-bad) -100%,
        transparent 70%
    );
}
page:has(.eval_score_2) {
    background-image: radial-gradient(
        ellipse at top center,
        var(--assessment-color-medium) -100%,
        transparent 70%
    );
}
page:has(.eval_score_3) {
    background-image: radial-gradient(
        ellipse at top center,
        var(--assessment-color-better) -100%,
        transparent 70%
    );
}
page:has(.eval_score_4) {
    background-image: radial-gradient(
        ellipse at top center,
        var(--assessment-color-good) -100%,
        transparent 70%
    );
}

.filters-settings {
    display: flex; 
    flex-direction:row;
    justify-content:start;
    flex-wrap: wrap;
    margin:0 0 10px;
    padding: 8px;
    border-radius: 4px;
    gap:5px;
    align-items:center;
    color: var(--text-main);
    font-family: var(--title-font-family);
}
.active-filters-bar {
    display:flex;
    justify-content:end;
    align-items: center;
    gap:8px;
    margin:-5px 0px 0;
    font-size: 22px;
}
@media (max-width:767px) {
    .active-filters-bar { font-size: 12px; }
    .title { flex-direction: column; }
}

.filter-checkbox {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    cursor: pointer;
}
.filter-checkbox span {
    white-space: nowrap;
    font-size:12px;
}
.filter-checkbox input {
    max-width:16px;
    height:16px;
    margin:0;
    margin-right:20px;
}

/** Mini Editor */
.mini-editor-block {
    display: flex; align-items: center; justify-content: center;
    position: fixed; top:0; left:0; right:0; bottom:0; z-index: 100;
    background-color: rgba(0,0,0,0.5); backdrop-filter: blur(5px);
}
.mini-editor-backdrop { position: absolute; top:0; left:0; right:0; bottom:0; }
.mini-editor-container { 
    position: relative; z-index: 10; width: 80%;
    padding: 1.5rem; background-color: var(--bg-secondary); border-radius: 1rem;
    color: var(--text-main);
}
.mini-editor-container input { 
    border-radius: 999rem; padding: 0.5rem 0; background-color: var(--extra-info-bg);
}
.mini-editor-container button { font-family: var(--title-font-family); margin-top: 0.7rem; }

.input-label { display: flex; flex-direction: column; }
.input-label label { font-family: var(--title-font-family); color:var(--extra-info-bg); }
.input-label.white label { color:var(--text-main); }
.input-label.white input { background-color:var(--text-main); }

/* COMMON STYLES TEMPLATES  */
.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gap-1 { gap: 0.25rem; }
.w-full { width: 100%; }
.flex-row { display: flex; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }

.show-mobile { display: none; }
@media (max-width:767px) {
    body {
        height: 100%;
        position: fixed; top:0; left:0; right:0; bottom:0;
        overflow-y: auto;
    }
    header {
        position: fixed; z-index: 10;
        bottom:0; left:0; right:0;
    }
    page,
    .page {
        flex-grow: 1;
        min-height: auto;
    }
    site-menu {
        flex-direction: row;
        min-height: auto;
        max-height: auto;
        justify-content: space-between;
    }
    site-menu .logo-title { display: none; }
    site-menu nav { flex-grow: 1; border-top: none; }
    site-menu ul {
        flex-direction: row; margin: 0.5rem 0;
        width: 100%; justify-content: space-around;
    }
    site-main-page,
    site-assessment { width: 90%; }
    .show-mobile { display: inherit; }
}


/** Word-List styles **/
words-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
words-list .top-title-row {
    color: var(--text-main);
    font-family: var(--title-font-family);
    gap: 1rem;
}
.word-list-block {
    max-height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 0.35rem;
}
.words-column {
    max-height: fit-content;
    min-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

.filters-block {
    display:flex; flex-direction:row; align-items:center; justify-content:end; gap:15px; margin:-5px 0px 5px;
    color: var(--text-main);
    font-family: var(--title-font-family);
}
@media (max-width: 767px) {
    .filters-block { justify-content: space-between; }
}
.words-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.string-row {
    position: relative;
    color: var(--text-main);
    font-size: 0.75rem;
    display: flex; align-items: center;
}
.string-row::before {
    content: '';
    display: flex;
    width: 10px; height: 10px;
    border-radius: 100%;
}
.string-row.evaluation_none::before { background-color: #999; }
.string-row.evaluation_0::before { background-color: var(--assessment-color-verybad); }
.string-row.evaluation_1::before { background-color: var(--assessment-color-bad); }
.string-row.evaluation_2::before { background-color: var(--assessment-color-medium); }
.string-row.evaluation_3::before { background-color: var(--assessment-color-better); }
.string-row.evaluation_4::before { background-color: var(--assessment-color-good); }
.string-row .lang,
.string-row .translate {
    transition: 0.3s;
    padding: 5px 15px;
}
.string-row .lang { cursor:pointer;}
.string-row .translate {
    position: absolute;
    display: none;
    transform: translateX(0);
    background-color: var(--extra-info-bg);
    z-index: 11;
    border-radius: 999rem;
    overflow: hidden;
    font-weight:bold; font-size: 12px;
}
.string-row .translate span { color: transparent; }
.string-row .translate input,
.string-row .translate input:focus {
    border:none;
    outline:none;
}
.string-row .translate input {
    position:absolute;
    top:5px;
    left:5px;
    z-index:1;
    padding: 0;;
    background-color:transparent;
    font-weight:bold; font-size: 12px;
    width:100%;
}
.string-row:hover .translate { display: block; }
.string-row:hover .lang {
    position: relative;
    z-index: 10;
    background-color: #eee;
    border-radius: 999rem;
    color:#000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}